
.aboutUs{
    background: linear-gradient( rgba(209,221,243,255) , white 17%) ;
    padding-top: 107px;
    .button{
        font-size: 19px;
        line-height: 27px;
        letter-spacing: -0.16px;
        text-align: center;
        color: rgb(0, 0, 0);
        background: rgb(255, 255, 255);
        border: 1px solid rgb(239, 83, 102);
        border-radius: 4px;
        padding: 9px 30px 11px;
        position: relative;
        overflow: hidden;
        display: inline-block;
        transition: color 0.2s ease-in-out 0s, background-color 0.1s ease 0.02s;
        &:hover{
            color: rgb(255, 255, 255);
            background-color: rgb(239, 83, 102);
            transition-delay: 0s, 0.15s;
        }
    }
    section{
        margin-bottom: 75px;
        position: relative;
    }
    .container{
        max-width: 1220px;
        margin: 0px auto;
        padding: 0px 40px;
    }
    .section1{
        .bannerImg{
            position: relative;
            overflow: hidden;
            max-width: 848px;
            margin: 0 auto;

            img{
                width: 100%;
                height: auto;
            }
        }

        .bannerContent{
            max-width: 900px;
            margin: 0px auto;

            .title{
                font-size: 56px;
                line-height: 57px;
                letter-spacing: -0.52px;
                margin-bottom: 43px;

                .headingRed{
                    background-image: linear-gradient(100deg, rgb(61, 61, 61), rgb(255, 77, 99));
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            
            .text{
                font-size: 23px;
                line-height: 32px;
                margin-bottom: 30px;
            }
        }
            
    }
    .section2, .section3{
        .headingWrapper{
            max-width: 720px;
            margin-bottom: 43px;
            margin: 0px auto;
            text-align: center;

            h2{
                font-size: 44px;
                line-height: 53px;
                letter-spacing: -0.48px;
                font-weight: 700;
                margin-bottom: 20px;

                .highlightHead{
                    position: relative; 
                    background: linear-gradient(-225deg, transparent 5px, rgb(251, 207, 213) 0px) left bottom / 51% 7px no-repeat, linear-gradient(-45deg, transparent 5px, rgb(251, 207, 213) 0px) right bottom;
                    background-repeat: no-repeat;
                }
            }
        }
    }
    .section2{
        margin: 0px 0px 139px;
        
        .headingPara{
            max-width: 922px;
            margin: 0px auto 74px;
            text-align: center;

            p{
                font-size: 25px;
                line-height: 34px;
            }
            .colorThrough{
                background-size: 100% 15px;
                color: rgb(239, 83, 102);
                position: relative;
                background: url(../../assets/red-shape.png) 0px 13px / 0px 15px no-repeat;
                transition: all 0.5s ease 0.5s;
            }
        }
        .stackListBlock{
            max-width: 900px;
            width: 100%;
            margin: 0px auto;
        }
    }

    .section3{
        margin: 0;
        .teamListBlock{
            display: flex;
            flex-wrap: wrap;
            margin-top: 62px;
        }
    }

    .section4{
        padding: 50px 0px;
        margin: 0px 0px 58px;
        
        .container{
            display: flex;
            -webkit-box-align: center;
            align-items: center;

            .content{
                max-width: 41%;
                width: 100%;
                text-align: center;
                h3{
                    margin-bottom: 40px;
                    font-size: 44px;
                    line-height: 53px;
                    letter-spacing: -0.48px;
                    font-weight: 900;
                }

            }

            .img{
                text-align: center;
                max-width: 59%;
                width: 100%;
                position: relative;
                img{
                    overflow: hidden;
                    max-width: 506px;
                    margin: 0px auto;
                }

            }
        }

    }

    .section5{
        margin: 0px;
        padding-bottom: 110px;
        border-bottom: 1px solid rgba(216, 213, 213, 0.5);

        .headingWrapper{
            max-width: 610px;
            margin: 0px auto;
            text-align: center;

            h3{
                font-size: 44px;
                line-height: 53px;
                letter-spacing: -0.48px;
                font-weight: 900;
                margin-bottom: 20px;
            }
        }
        .menuListRow{
            max-width: 1060px;
            width: 100%;
            margin: 56px auto 0px;
        }

        .buttonRow{
            text-align: center;
            padding-top: 40px;
        }
        
    }
}