$pinkColor: rgb(239, 83, 102);
.subMenu{
    top: 48px;    
    position: absolute;
    width: 1065px;
    left: 50%;
    transform: translate(-50%, 10px);
    top: 58px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0.5px 0.5px 0px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    margin-top: 25px;

    &::after{
        content: "";
    width: 100%;
    height: 25px;
    position: absolute;
    background: transparent;
    left: 0px;
    top: -25px;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        z-index: 10;
        position: relative; 
        background: rgb(255, 255, 255);
        padding: 9px;

        li{
            list-style: none;
            width: calc(20% - 16px);
            margin: 0px 8px;
            
            a{
                display: block;
                padding: 13px 16px;
                height: 100%;
                transition: all 0.3s cubic-bezier(0.29, 0.19, 0.405, 1) 0s;
                border-radius: 3px;

                .icon{
                    margin-bottom: 12px;
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    justify-content: center;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }

                .title{
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: -0.11px;
                    color: rgb(61, 61, 61);
                    text-transform: initial;
                    transition: all 0.3s cubic-bezier(0.29, 0.19, 0.405, 1) 0s;
                }
            }
            &:hover{
                .title{
                    color: $pinkColor;;
                }
            }
        }

    }

    
}
.hoverSubMenu{
    transform: translate(-50%, 0px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}