@import url(//fonts.googleapis.com/css?family=Open+Sans);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: rgb(61, 61, 61);
}
a{
    text-decoration: none;

}
ul{
    list-style: none;

}
//fake content page
.app{
    z-index: 99;
}

