.reverse {
    .rowAlignItems{
        flex-direction: row-reverse!important;
    }
}
.container{
    padding-top: 100px;
    padding-bottom: 50px;
    max-width: 1312px;
    width: calc(100% - 128px);
    margin-left: auto;
    margin-right: auto;
    transition: width .15s;
   
    .rowAlignItems{
        align-items: center;
        display: flex;
        flex: 0 1 auto;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -16px;
        margin-right: -16px;

        .leftCol{
            flex-basis: 50%;
            max-width: 50%;
            flex: 0 1 auto;
            padding-left: 16px;
            padding-right: 16px;
            img{
                width: 100%;
            }
        }
        .rightCol{
            padding-bottom: 16px;
            margin-left: 8.33333%;
            flex-basis: 41.66667%;
            max-width: 41.66667%;

            .textStack{
                .label{
                    margin-bottom: 8px;
                    color: #848f99;
                    font-size: 1rem;
                    font-weight: 400;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    display: block;
                }

                .heading{
                    margin-bottom: 16px;
                    font-size: 2rem;
                    line-height: 1.4;
                    font-weight: 365;
                }
                p{
                    font-size: 20px;
                    margin-bottom: 1.5rem;
                    color: #646f79;
                    font-weight: 360;
                    line-height: 1.5;
                }
                .quote{
                    border-left: 2px solid #99e4d2;
                    line-height: 1.5;
                    font-size: 1.2rem;
                    font-style: italic;
                    padding-left: 16px;
                    color: #646f79;
                    font-weight: 360;

                    a{
                        background-color: transparent;
                        color: #796eff;
                        cursor: pointer;
                        font-weight: 500;
                        text-decoration: none;
                        transition: color .3s;

                        &:hover{
                            border-bottom: 2px solid #635ac7;
                            color: #635ac7;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}