.header{
    padding: 1rem 0;
    font-size: 1.25rem;

    &Title{
        font-weight: bold;
    }

    &Link {
        color: #000;
        transition: all .25s ease-in-out 0s;

        &Active,
        &:hover{
            text-decoration: none;
            color: aqua;
        }
    }
}