$pinkColor: rgb(239, 83, 102);


.navBar {
    width: 100%;
    padding: 20px 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;
    transition: padding 100ms ease 0s;

    &::after{
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.9);
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
        transition: all 0.3s ease 0s;
        z-index: -1;
    }

    .headerContainer {
        max-width: 1320px;
        padding: 0px 20px;
        margin: 0px auto;
        width: 100%;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;

    }
    .logo {
        max-width: 161px;
    }
    .listPages {
        display: flex;
        -webkit-box-align: center;  
        align-items: center;

        .listPagesItem {
            padding: 0px 0px 0px 16px;
            letter-spacing: 1.4px;
            text-transform: uppercase;
            line-height: 18px;
            font-weight: 500;
            font-size: 14px;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            
            .listPagesName {
                transition: all 0.3s cubic-bezier(0.29, 0.19, 0.405, 1) 0s;
                color: rgb(61, 61, 61);
                padding: 10px 0px;
                display: block;
                font-weight:900;
                position: relative;
                
                &::before{
                    content: "";
                    width: 16px;
                    height: 16px;
                    transform: translateY(10px) rotate(45deg);
                    position: absolute;
                    background: rgb(255, 255, 255);
                    left: 50%;
                    margin-left: -8px;
                    top: 51px;
                    z-index: 1;
                    border-top-left-radius: 2px;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.3s cubic-bezier(0.29, 0.19, 0.405, 1) 0s;
                    pointer-events: none;
                }
                
                &::after{
                    transition: all 0.3s cubic-bezier(0.29, 0.19, 0.405, 1) 0s;
                    transform: scaleX(0);
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    transform-origin: 50% center;
                    background: $pinkColor;
                    width: 100%;
                    height: 2px;
                    content: "";
                }
            }

            // submenu
            .submenu{
                top: 48px;    
                position: absolute;
                width: 1065px;
                left: 50%;
                transform: translate(-50%, 10px);
                top: 58px;
                background: rgb(255, 255, 255);
                box-shadow: 0px 0.5px 0.5px 0px;
                // opacity: 0;
                // visibility: hidden;
                // pointer-events: none;
                border-radius: 5px;
                transition: all 0.3s ease 0s;
                margin-top: 25px;

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    z-index: 10;
                    position: relative; 
                    background: rgb(255, 255, 255);
                    padding: 9px;

                    li{
                        list-style: none;
                        width: calc(20% - 16px);
                        margin: 0px 8px;
                        
                        a{
                            display: block;
                            padding: 13px 16px;
                            height: 100%;
                            transition: all 0.3s cubic-bezier(0.29, 0.19, 0.405, 1) 0s;
                            border-radius: 3px;

                            .icon{
                                margin-bottom: 12px;
                                display: flex;
                                -webkit-box-align: center;
                                align-items: center;
                                -webkit-box-pack: center;
                                justify-content: center;
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                            }

                            .title{
                                font-size: 14px;
                                line-height: 16px;
                                letter-spacing: -0.11px;
                                color: rgb(61, 61, 61);
                                text-transform: initial;
                                transition: all 0.3s cubic-bezier(0.29, 0.19, 0.405, 1) 0s;
                            }
                        }

                        &:hover{
                            .title{
                                color: $pinkColor;;
                            }
                        }
                    }
                }
            }
            //end submenu

            &::after{
                content: "/";
                color: $pinkColor;
                font-weight: 500;
                font-family: Graphik;
                padding: 0px 0px 0px 19px;
                margin-top: -4px;
            }

            &:hover{
                .listPagesName {
                    color: $pinkColor;
                    &::after{
                        transform: scaleX(1);
                    }
                }
            }
        }
    }

    .contactUs{
        color: rgb(0, 0, 0);
        background: rgb(255, 255, 255);
        border: 1px solid $pinkColor;
        border-radius: 4px;
        padding: 9px 30px 11px;
        position: relative;
        overflow: hidden;

        &::before{
            transform: translateY(0px);
            transition: transform 0.2s ease-in-out 0s;
        }

        &::after{
            transform: translateY(0px);
            transition: transform 0ms ease-in-out 0.2s;
        }
        &:hover{
            background: $pinkColor;
            transition-delay: 0s, 0.15s;
            &::before{
                transform: translateY(0px);
                transition: transform 0.2s ease-in-out 0s;
            }
            &::after{
                transform: translateY(0px);
                transition: transform 0ms ease-in-out 0.2s;
            }
        }
    }



}
.sticky {
    &::after{
        opacity: 1;
    }
}

@media (min-width: 1200px) and (max-width: 1441px) {
    .navBar{
        padding: 10px 0;

        .headerContainer{
            max-width: 1188px;

            .logo{
                max-width: 137px;
            }
            .listPagesItem{
                font-size: 13px;

                .listPagesName{
                    padding: 8px 0;
                }
            }
        }
    }
}

// @media (min-width: 992px) and (max-width: 1199px) {
@media (max-width: 1199px) {
    .navBar{
        .listPages{
            .listPagesItem{
                font-size: 13px;
                padding: 0px 0px 0px 5px;
        
                &::after{
                    padding: 0px 0px 0px 5px;
                }
            }
        }
    }

}