.stackBlock{
    background: linear-gradient(287deg, rgb(169, 139, 253), rgb(211, 196, 255));
    border-radius: 3.5px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 104px;
    position: relative;
    margin-bottom: 15px;

    .title{
        position: absolute;
        font-size: 16.8px;
        letter-spacing: -0.18px;
        font-weight: 700;
        display: inline-block;
        max-width: 150px;
        width: 100%;
        text-align: center;
        left: -25px;
        top: 50%;
        transform: translateY(-50%) rotate(-90deg);
    }

    .list {
        max-width: 794px;
        width: 100%;
        padding: 22px 32px;
        display: flex;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        justify-content: center;
        border-radius: 3.5px;

        .singleStack{
            margin: 8px;
            width: calc(33.33% - 16px);
            background: rgb(255, 255, 255);
            box-shadow:  0px 1px 1px 0px;
            border-radius: 5.6px;
            font-size: 14px;
            line-height: 16.8px;
            letter-spacing: -0.15px;
            text-align: center;
            padding: 16.5px 15px 17.5px;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
        }
    }
}

.blockNumber1{
    background:  linear-gradient(309deg, rgba(203, 244, 255, 0.8), rgba(10, 216, 255, 0.8));
    
}
.blockNumber2{
    background: linear-gradient(287deg, rgb(255, 205, 104), rgb(255, 241, 214));

}
.blockNumber3{
    background: linear-gradient(287deg, rgb(127, 168, 255), rgb(199, 218, 255))
}