.wrapper{
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-bottom: 38px;
    width: 100%;
    z-index: 0  ;

    .teamListing{
        max-width: 1046px;
        width: 100%;
        margin: 22px;
        background: rgba(199, 221, 243, 0.7);
        position: relative;
        padding: 20px 0px 22px;

        .listingBg{
            position: absolute;
            width: 100%;
            height: 100%;
            right: -22px;
            top: -27px;
            background: rgb(182, 209, 236);
            z-index: -1;
            opacity: 0.5;
        }
        .singleMemberWrapper{
            display: flex;

            .singleMember{
                flex: 0 1 33.33%;
                padding: 0px 42px;
                display: flex;
                flex-direction: column;
                -webkit-box-pack: justify;
                justify-content: space-between;

                .heading{
                    padding: 0px 35px;
                    margin-bottom: 40px;

                    .name{
                        font-size: 16px;
                        line-height: 22px;
                        font-weight: 900;
                        display: block;
                    }
                    .position{
                        font-size: 14px;
                        line-height: 19px;
                        display: block;
                        margin-bottom: 10px;
                    }
                }

                .imgWrapper{
                    display: block;

                    img{
                        position: relative;
                        overflow: hidden;
                        max-width: 230px;
                        margin: 0px auto;
                    }
                }
            }
        }
    }
}

.purpleWrapper{
    -webkit-box-pack: start;
    justify-content: flex-start;

    .teamListing{
        background: rgba(232, 228, 244, 0.7);

        .listingBg{
            background: rgb(214, 206, 237);
            opacity: 0.7;
        }
    }
}