@import url(//fonts.googleapis.com/css?family=Open+Sans);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-color: gray;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
}


/* item */
.listItem{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 4rem;
}
.listItem .item{
    width: 25%;
}
.listItem .itemContent{
    height: 100px;
    overflow: scroll;
}
.listItem .itemContent.itemContent2{
    overflow: hidden;
}

/* JS Part */
.jsPart{
    padding-left: 20px;
}

@media screen and (max-width: 768px) {
    .listItem .item{
        width: 100%;
    }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
    .listItem .item{
        flex: 1;
    }
}


