.siteHeader{
    justify-content: space-between;
    transition: padding 225ms,transform .3s ease-out;
    width: 100%;
    z-index: 900;
    box-shadow: none;
    top: 0;
    position: fixed;
    display: block;

    .isScrolling {

        box-shadow: 0 2px 12px 0 rgb(36 50 66 / 8%);
        background-color: #fff;
        transition: opacity .3s ease-in-out;

    }

    .headerRow{
        height: 56px;
        width: 100%;
        position: relative;
        z-index: 10;

        .headerWrapper{
            height: 100%;
            max-width: 1440px;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;
            padding: 0 64px;
            overflow: hidden;

            .navGroup{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                height: 100%;
            
                .logo{
                    overflow: visible;
                    cursor: pointer;
                }

                .horizonNav{
                    height: 100%;
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: row;
                    padding: 0 0 0 32px;

                    .horizonNavList{
                        position: relative;
                        display: flex;
                        flex-wrap: nowrap;
                        flex-direction: row;
                        margin: 0;
                        padding: 0;
                    }
                }

                .languageWrapper{
                    height: 20px;
                    width: 20px;
                    position: relative;
                    overflow: inherit;
                    margin: 0 12px;

                }

                .selectSeperator{
                    margin: 0 12px;
                    border-left: 1px solid #e0e6e8;
                    height: 24px;
                    width: 0;
                }

                a {
                    color: #646f79;
                    font-size: 16px;
                    font-weight: 500;
                    margin: 0;
                    padding: 0 12px;

                    &:hover{
                        color: #796eff;
                    }
                }

                .button{
                    margin-left: 12px;

                    a{
                        background-color: #796eff;
                        border-radius: 3px;
                        border: none;
                        color: #fff;
                        cursor: pointer;
                        display: inline-block;
                        font-size: 14px;
                        font-weight: 500;
                        height: 36px;
                        letter-spacing: .5px;
                        line-height: 36px;
                        padding: 0 16px;
                        text-align: center;
                        text-decoration: none;
                        transition: background-color .15s,color .15s ease-in-out;
                        white-space: nowrap;
                        &:hover{
                            background-color: #635ac7;
                            border-bottom: none;
                        }
                    }

                }
            }
        }
    }
}

