.singleRow{
    margin-bottom: 100px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    &:nth-child(2n){
        flex-direction: row-reverse;
    }

    .content{
        max-width: 394px;
        width: 100%;

        .contentRow{
            margin-bottom: 85px;

            .icon{
                margin-bottom: 14px;
            }
            h4{
                font-size: 30px;
                line-height: 38px;
                letter-spacing: 0.2px;
                margin-bottom: 12px;
                font-weight: 700;
            }
            p{
                font-size: 24px;
                line-height: 32px;
                margin: 0px;
            }

            :last-child{
                margin-bottom: 0;
            }
        }
    }

    .img{
        max-width: 555px;
        width: 100%;
        position: relative;
        .right{

            .left{
                position: absolute;
                width: 320px;
                z-index: 9;
                top: 98px;
                left: 0px;
            

                .imgWrapper{
                    position: relative;
                    overflow: hidden;
                    max-width: 320px;
                    margin: 0px auto;

                    img {
                        width: 100%;
                    }
                }



            }
        
            .row{
                margin-left: auto;
                margin-right: 0px;
                max-width: 320px;

                .imgWrapper{
                    position: relative;
                    overflow: hidden;
                    max-width: 320px;
                    margin: 0px auto;
                    img{
                        width: 100%;
                    }
                }
                &:last-child{
                    margin-top: 20px;
                    margin-right: 30px;
                    margin-left: auto;
                    max-width: 357px;
                    position: relative;
                    z-index: 9;
                    .imgWrapper{
                        max-width: 357px;
                    }
                }
            }
        }
    }
}
