.marketing{
        
    .container{
        max-width: 1312px;
        width: calc(100% - 128px);
        margin-left: auto;
        margin-right: auto;
    }
    .sectionBuilder1{        
        padding-top: 80px;
        padding-bottom: 50px;

    
            .rowAlignItem{
                align-items: center;
                display: flex;
                flex: 0 1 auto;
                flex-direction: row;
                flex-wrap: wrap;
                margin-left: -16px;
                margin-right: -16px;
    
                .leftCol{
                    flex-basis: 41.66667%;
                    max-width: 41.66667%;
                    flex: 0 1 auto;
                    padding-left: 16px;
                    padding-right: 16px;
                    position: relative;
    
                    .textStack{
                        .label{
                            margin-bottom: 8px;    
                            color: #848f99;
                            font-size: .75rem;
                            font-weight: 500;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            display: block;
                        }
                        .heading{
                            font-size: 45px;
                            line-height: 1.387;
                            margin-bottom: 16px;
                            color: #151b26;
                            font-weight: 400;
                        }
                        p{
                            font-size: 22px;
                            margin-bottom: 1.5rem;
                            color: #848f99;
                            font-family: gordita,Helvetica Neue,Helvetica,sans-serif;
                            line-height: 1.75;
    
                        }
                        .button1{
                            margin-right: 12px;
                            display: inline-block;
        
                            a{
                                background-color: #796eff;
                                border-radius: 3px;
                                border: none;
                                color: #fff;
                                display: inline-block;
                                font-size: 16px;
                                font-weight: 500;
                                height: 50px;
                                letter-spacing: .5px;
                                line-height: 50px;
                                padding: 0 24px;
                                text-align: center;
                                text-decoration: none;
                                transition: background-color .15s,color .15s ease-in-out;
                                white-space: nowrap;
                                &:hover{
                                    background-color: #635ac7;
                                    border-bottom: none;
                                }
                            }
        
                        }
    
                        .button2{
                            display: inline-block;
                            a{
                                line-height: 48px;
                                background-color: transparent;
                                border: 2px solid #796eff;
                                color: #796eff;
                                font-size: 16px;
                                height: 52px;
                                padding: 0 24px;
                                border-radius: 3px;
                                cursor: pointer;
                                display: inline-block;
                                font-weight: 500;
                                letter-spacing: .5px;
                                text-align: center;
                                text-decoration: none;
                                transition: background-color .15s,color .15s ease-in-out;
                                white-space: nowrap;
                                &:hover{
                                    background-color: #635ac7;
                                    border-color: #635ac7;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
                .rightCol{
                    flex-basis: 50%;
                    max-width: 50%;
                    padding-left: 8%;
                    .pic1{
                        max-width: 100%;
                        width: 100%;
                    }
                }
            }
        
    }

    .sectionBuilder2{
        padding-top: 128px;
        padding-bottom: 32px;

        .row{
            display: flex;
            flex: 0 1 auto;
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: -16px;
            margin-right: -16px;

            .col{
                flex-basis: 83.33333%;
                max-width: 83.33333%;

                .heading{
                    padding-bottom: 32px;
                    p{
                        font-size: 1.5rem;
                        line-height: 1.636;
                        font-weight: 350;
                    }
                }

                .colLogo{
                    display: flex;

                    .customerLogo{
                        flex: 0 1 auto;

                        .logo{
                            margin-right: 5rem;
                            img{
                                height: 40px;
                            }
                        }
                    }
                }
            }
        }
    }

    .sectionBuilder3{
        background-color: #f6f8f9;
    }

    .sectionBuilder4{
        background-color: #f6f8f9;
        padding-bottom: 32px;

        .row{
            justify-content: center;
            margin-left: 0;
            margin-right: 0;
            padding-top: 80px;

            .banner{
                background: #fff;
                color: #000!important;
                box-shadow: 0 7px 7px 0 rgb(34 43 55 / 15%);
                border-radius: 5px;
                display: flex;
                flex-direction: row;
                font-family: gordita,Helvetica Neue,Helvetica,sans-serif;
                justify-content: space-between;
                align-items: center;
                padding: 15px 32px;
                position: relative;
                text-align: center;
                flex-basis: 100%;
                max-width: 100%;

                p{
                    color: #000;
                    font-size: 24px;
                    text-align: left;
                    margin-right: 32px;
                }



                    a{
                        background: #796eff;
                        color: #fff;
                        padding: 0 40px;
                        border-radius: 5px;                    
                        width: auto;
                        height: 48px;
                        display: block;
                        text-align: center;
                        line-height: 50px;
                        font-weight: bolder;
                        &:hover{
                            background-color: #635ac7;
                            border-bottom: none;
                        }
                    }

                
            }
        }
    }

    .sectionBuilder5{
        background-color: #f6f8f9;
        padding-bottom: 112px;
        padding-top: 160px;

        .row{
            text-align: center;
            .col{
                margin-left: 16.66667%;
                flex-basis: 66.66667%;
                max-width: 66.66667%;
                
                            .textStack{
                                .label{
                                    margin-bottom: 8px;
                                    color: #848f99;
                                    font-size: 1rem;
                                    font-weight: 400;
                                    letter-spacing: 1px;
                                    text-transform: uppercase;
                                    display: block;
                                }
                                .heading{
                                    font-size: 2rem;
                                    line-height: 1.5;
                                    margin-bottom: 16px;
                                    color: #151b26;
                                    font-weight: 400;
                                }
                                p{
                                    font-size: 1.25rem;
                                    line-height: 1.6;
                                    font-weight: 350;
                                    color: #848f99;

                                }
                            }
            }
        }
    }

    .sectionBuilder6{
        padding-top: 64px;
        padding-bottom: 128px;
        &:hover{
            .logoImg{
                margin: 12px!important;
                box-shadow: 0 3px 5px rgb(36 50 66 / 20%);
            }
        }
        .container{
            max-width: 1120px;
            text-align: center;
            .col{
                margin-left: 16.66667%;
                flex-basis: 66.66667%;
                max-width: 66.66667%;
                .textStack{
                    .label{
                        margin-bottom: 8px;
                        color: #848f99;
                        font-size: 1rem;
                        font-weight: 400;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        display: block;
                    }
                    .heading{
                        font-size: 2rem;
                        line-height: 1.5;
                        margin-bottom: 16px;
                        color: #151b26;
                        font-weight: 400;
                    }
                    p{
                        font-size: 1.25rem;
                        line-height: 1.6;
                        font-weight: 350;
                        color: #848f99;
                        padding-bottom: 16px;
                        margin-bottom: 1.5rem;

                    }
                    .logoInline{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        flex-wrap: wrap;
                        margin-bottom: 48px;
                        .logoImg{
                            border-radius: 12px;
                            background: #fff;
                            width: 60px;
                            height: 60px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin: 12px 10px;
                            transition: box-shadow .1s,margin .2s cubic-bezier(.4,0,.43,.88);
                            &:hover{
                                box-shadow: 0 11px 12px 0 rgb(36 50 66 / 20%);
                            }
                            img{
                                max-width: 40px;
                                max-height: 48px;
                            }
                        }
                    }
                    .seeMore{
                        background-color: transparent;
                        color: #796eff;
                        font-weight: 500;
                        transition: color .3s;
                        &:hover{
                            color: #635ac7;
                        }
                    }
                }
            }
        }
    }

    .sectionBuilder7{
        background-color: #f6f8f9;
        padding-bottom: 16px;
        padding-top: 144px;
        .divider{
            justify-content: center;
            display: flex;
            padding-top: 120px;
            hr{
                background-color: #e0e6e8;
                border: none;
                height: .75px;
                margin: 32px 0;
                width: 85%;
            }
        }
        .container{
            transition: width .15s;
            width: calc(100% - 64px);
            .row{
                display: flex;
                flex: 0 1 auto;
                flex-direction: row;
                flex-wrap: wrap;
                margin-left: -16px;
                margin-right: -16px;
               .col{
                    flex-basis: 100%;
                    max-width: 100%;
                    .templateHeader{
                        margin-bottom: 80px;
                        margin-left: auto;
                        margin-right: auto;
                        max-width: 1120px;
                        .label{
                            margin-bottom: 8px;
                            color: #848f99;
                            font-size: 1rem;
                            font-weight: 400;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            display: block;
                        }
                        .title{
                            font-size: 2rem;
                            line-height: 1.5;
                            margin-bottom: 16px;
                            color: #151b26;
                            font-weight: 400;
                        }
                        p{
                            font-size: 1.25rem;
                            line-height: 1.6;
                            font-weight: 350;
                            color: #848f99;
                            padding-bottom: 16px;
                            margin-bottom: 1.5rem;
                            max-width: 720px;
                        }
                    }
                    .templateRow{
                        display: flex;
                        justify-content: center;    
                        .templateItems{
                            flex-basis: 720px;
                            display: flex;
                            flex-wrap: wrap;
                            
                            .item{
                                &:nth-of-type(2n){
                                    margin-left: 32px !important;                                  
                                }
                                &:nth-of-type(n+3){
                                    margin-top: 24px;
                                }
                                &:hover{
                                    border-bottom: none;
                                    box-shadow: 0 11px 12px 0 rgb(36 50 66 / 12%);
                                    color: #151b26;
                                }
                                flex-basis: calc(50% - 16px);
                                min-width: calc(50% - 16px);
                                margin-top: 0;
                                align-items: center;
                                background-color: #fff;
                                border-radius: 3px;
                                box-shadow: 0 2px 2px 0 rgb(36 50 66 / 12%);
                                color: #151b26;
                                display: flex;
                                padding: 14px;
                                transition: transform .3s,box-shadow .6s;

                                img{
                                    width: 64px;
                                    height: 64px;
                                }
                                .itemInfo{
                                    padding-left: 16px;

                                    span{
                                        display: block;
                                        font-weight: 500;
                                    }
                                    .itemName{
                                        line-height: 1.25;
                                    }
                                    .itemType{
                                        color: #646f79;
                                        font-size: .875rem;
                                    }
                                }
                            }
                        }

                        .templateAll{
                            display: flex;
                            flex-basis: 363px;
                            flex-direction: column;
                            margin-left: 32px;
                            margin-top: 0;
                            background: url(https://luna1.co/de4cdb.png) no-repeat 50%;
                            background-size: cover;
                            border-radius: 3px;
                            box-shadow: 0 2px 2px 0 rgb(36 50 66 / 12%);
                            height: 336px;
                            position: relative;
                            transition: box-shadow .3s;
                            &:hover{
                                border-bottom: none;
                                box-shadow: 0 11px 12px 0 rgb(36 50 66 / 12%);
                                color: rgba(9,12,16,.75);
                            }
                            .videoContainer{
                                flex: 1 0 auto;
                                position: relative;
                                overflow: hidden;
                                .video{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                                &:hover{
                                    .video{
                                        transform: scale(1.02);
                                    }
                                }
                            }
                            .text{
                                align-items: center;
                                background-color: #fff;
                                border-radius: 0 0 3px 3px;
                                color: #151b26;
                                display: flex;
                                justify-content: space-between;
                                padding: 16px 16px;
                                position: relative;
                                width: 100%;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }
    .sectionBuilder8{
        background-color: #f6f8f9;
        padding-bottom: 16px;
        padding-top: 100px;

        .row{
            display: flex;
            flex: 0 1 auto;
            flex-direction: column;
            flex-wrap: wrap;
            margin-left: -16px;
            margin-right: -16px;

            .col{
                flex-basis: 50%;
                max-width: 50%;
                text-align: center;
                align-self: center;

                .textStack{
                    .heading{
                        font-size: 2rem;
                        line-height: 1.5;
                        margin-bottom: 16px;
                        color: #151b26;
                        font-weight: 400;
                    }
                    p{
                        font-size: 1.25rem;
                        line-height: 1.6;
                        font-weight: 350;
                        color: #848f99;
                        padding-bottom: 16px;
                        margin-bottom: 1.5rem;
                    }
                }
            }
            .content{
                background-color: #f6f8f9;
                padding-top: 80px;
                padding-bottom: 160px;

                .container{
                    box-sizing: border-box;
                    margin-left: auto;
                    margin-right: auto;
                    transition: width .15s;
                    width: calc(100% - 64px);

                    .resources{
                        display: flex;
                        flex: 0 1 auto;
                        flex-direction: row;
                        flex-wrap: wrap;
                        margin-left: -16px;
                        margin-right: -16px;

                        .singleCard{
                            flex-basis: 25%;
                            max-width: 25%;
                            display: flex;
                            margin-bottom: 32px;
                            padding-left: 16px;
                            padding-right: 16px;
                            position: relative;

                            .imageCard{
                                box-shadow: 0 3px 5px 0 rgb(36 50 66 / 10%);
                                border-radius: 3px;
                                background-color: #fff;
                                cursor: pointer;
                                display: flex;
                                width: 100%;
                                transition: box-shadow 225ms;
                                &:hover{
                                    box-shadow: 0 30px 50px 0 rgb(36 50 66 / 10%);
                                    border-bottom: none;
                                    .label{
                                        color: #796eff!important;
                                    }
                                }

                                .imageCardText{
                                    padding: 32px;

                                    .label{
                                        color: #222b37;
                                        margin-bottom: 16px;
                                        font-size: 1.5rem;
                                        line-height: 1.7;
                                        font-weight: 350;
                                    }
                                    p{
                                        color: #646f79;
                                        margin-bottom: 16px;
                                        font-weight: 350;
                                        font-size: 18px;
                                        line-height: 1.6;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .sectionBuilder9{
        background-color: #080b0f;
        padding-bottom: 144px;
        padding-top: 144px;
        .container{
            width: calc(100% - 64px);
            max-width: 1120px;

            .col{
                flex-basis: 66.66667%;
                max-width: 66.66667%;
                margin-left: 16.66667%;
                text-align: center;

                .textStack{
                    color: #fff;

                    .heading{
                        font-size: 3rem;
                        line-height: 1.5;
                        font-weight: 400;
                    }
                    p{
                        font-size: 1.5rem;
                        line-height: 1.6;
                        font-weight: 350;
                        padding-bottom: 16px;
                        margin-bottom: 1.5rem;
                    }
                    .button{
                        background-color: #fff;
                        border-color: #fff;
                        color: #151b26;
                        font-size: 16px;
                        height: 50px;
                        padding: 0 24px;
                        line-height: 50px;
                        border-radius: 3px;
                        cursor: pointer;
                        font-weight: 500;
                        border: none;
                        &:hover{
                            background-color: #e0e6e8;
                        }
                    }
                }
            }
        }
    }
}