.banner {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 15rem;

    background-image: url(../../assets/images/orange-bg.jpg);
    background-position: center;
    background-size: cover;

    .bannerTitle {
        color: whitesmoke;
        font-weight: bold;
    }
}
