// @use  "/asana/styles/globals.scss";

.listItem{

    .navToggle{
        padding: 0 13px;
        margin: 0;
        background: none;
        border-radius: 0;
        border: 0;
        color: #646f79;
        position: relative;
        display: flex;
        height: 100%;
        letter-spacing: 0;
        font-size: 14px;
        line-height: 56px;
        justify-content: space-between;

        .navText{
            font-size: 16px;
            font-weight: 500;   
        }

        .caret{
            margin-left: 5px;
        }

        &:hover{
            cursor: pointer;
            color: #796eff;
            .caret{
                transform: rotate(180deg);
                transition: 0.4s;
    
            }
        }



    }
}