.siteFooter{
    position: relative;
    background-color: #151b26;

    .mainWrapper{
        padding-top: 80px;
        padding-bottom: 80px;
        background-color: #151b26;

        .logo{
            flex-basis: 8.33333%;
            padding: 0 15px;

            img{
                width: 24px;
                height: 24px;
            }
        }

        .footerList{
            flex-basis: 16.66667%;
            margin: 0;

            .listTitle{
                color: #9ca6af;
                font-weight: 500;
                margin-bottom: 32px;
            }

            .listItem{
                hyphens: auto;
                word-wrap: break-word;
                margin-bottom: 15px;
                font-size: 15px;
                color: #fff;
                font-weight: 300;
                &:hover{
                    a{
                        color: #fff;
                        border-bottom: 1px white solid;
                        font-weight: 400;
                    }
                }
            }
        }
    }
    .secondWrapper{
        background-color: #222b37;
        color: #fff;
        padding-bottom: 32px;
        padding-top: 32px;

        .colWrapper{
            flex-basis: 100%;
            padding: 0 8.33333%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;

            .hoveredText{
                &:hover{
                    color: #fff;
                    border-bottom: 1px white solid;
                    font-weight: 500;
                }
            }
            
            .language{
                display: flex;
                align-items: center;
                justify-content: center;

                .globe{
                    padding-right: 5px;
                }
            }

            .social{
                a{
                    padding-right: 4px;
                    opacity: .5;

                    &:hover{
                        opacity: 1;
                        transition: 0.4s;               
                    }
                }
            }

            .downloadButton {
                display: flex;
                justify-content: center;
                align-items: center;
                a{
                    display: block;
                    margin-right: 5px;

                    img{
                        height: 40px;
                        opacity: .6;
                        transition: opacity 225ms;
                    }

                    &:hover{
                        img{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .container{
        max-width: 1312px;
        width: calc(100% - 128px);
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        transition: width .15s;

        .row{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

        }
    }
}