.navDropDown{
    opacity: 0;
    display: hidden;
    visibility: hidden;
    display: flex;
    width: 100%;
    max-height: calc(100vh - 101px);
    max-width: 1440px;
    padding: 0 64px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    overflow: auto;
    left: 50%;
    z-index: 8;
    transform: translateX(-50%);
    background-color: #e0e6e8;

    .sectionList{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        list-style: none;
        min-width: 700px;
        margin: 0;
        padding: 0;

        .section {
            padding-bottom: 20px;
            margin: 40px 75px 0 0;
            transition: opacity .45s cubic-bezier(0,0,.16,.96),transform .4s cubic-bezier(0,0,.16,.96);

            .sectionLabel{
                font-size: 12px;
                font-weight: 500;
                text-transform: uppercase;
                line-height: 1;
                letter-spacing: 1px;
                padding-bottom: 18px;
                margin-bottom: 32px;
                position: relative;

                &::before{
                    background: #e0e6e8;
                    top: 32px;
                    content: "";
                    display: block;
                    position: absolute;
                    height: 1px;
                    width: 100%;
                    transform-origin: left;
                    transition: transform .4s cubic-bezier(0,0,.16,.96);
                }
            }

            .columnWrapper{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                list-style: none;
                padding: 0;

                .column{
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    .item{
                        margin: 0;

                        .dropDownCard{
                            cursor: pointer;
                            display: block;
                            width: 200px;
                            position: relative;
                            margin-bottom: 40px!important;
                            z-index: 1;

                            .cardDescription{
                                margin-bottom: 0;

                                .cardLabel{
                                    display: block;
                                    font-size: 14px;
                                    font-weight: 500;
                                    color: #151b26;
                                    line-height: 1.5;
                                    transition: color .2s ease-in-out;
                                }

                                .cardSummary{
                                    display: inline-block;
                                    font-size: 12px;
                                    font-weight: 400;
                                    line-height: 1.6;
                                    color: #222b37;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}